<h2 align=center>Update Band Details</h2>
<div style="width: 100% ;padding-top:8%">
    <form action="/update" method="POST">
        <div class="form-group" >
            <label for="band"></label>
            <input type="text" id="bandname" name="bandname" class="form-control" placeholder="Enter band name" />
        </div>
    
        <div class="form-group">
            <label for="banddescription"></label>
            <input type="text" id="banddescription" name="banddescription" class="form-control" placeholder="Enter description" />
        </div>
    
        <div style="width: 20%;">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
    </form>
    
</div>